@charset "UTF-8";
/*

Theme: Quick – Website UI Kit
Version: 1.1.1
Product Page: https://themes.getbootstrap.com/product/quick-website-ui-kit-2/
License: https://themes.getbootstrap.com/licenses/
Author: Webpixels
Author URI: https://webpixels.io

---

Copyright 2020 Webpixels

*/
@import url(https://fonts.googleapis.com/css?family=Nunito+Sans:400,400i,600,700,800&display=swap);
:root {
  --blue: #0C66FF;
  --indigo: #6e00ff;
  --purple: #510FA8;
  --pink: #f074ad;
  --red: #f25767;
  --orange: #FFBE3D;
  --yellow: #ffc431;
  --green: #5cc9a7;
  --teal: #50b5ff;
  --cyan: #4bd6e5;
  --white: #fff;
  --gray: #C0CCDA;
  --gray-dark: #3C4858;
  --primary: #0C66FF;
  --secondary: #8492A6;
  --success: #5cc9a7;
  --info: #50b5ff;
  --warning: #FFBE3D;
  --danger: #f25767;
  --light: #2a3d53;
  --dark: #253649;
  --neutral: #273444;
  --white: #fff;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace; }

*,
*::before,
*::after {
  box-sizing: border-box; }

@keyframes progress-bar-stripes {
  from {
    background-position: 0.5rem 0; }
  to {
    background-position: 0 0; } }

@keyframes spinner-border {
  to {
    transform: rotate(360deg); } }

@keyframes spinner-grow {
  0% {
    transform: scale(0); }
  50% {
    opacity: 1;
    transform: none; } }

@media print {
  *,
  *::before,
  *::after {
    text-shadow: none !important;
    box-shadow: none !important; }
  @page {
    size: a3; } }

@keyframes text_slide {
  0% {
    transform: translateX(0%); }
  100% {
    transform: translateX(300px); } }

@keyframes show_item {
  from {
    opacity: 0;
    transform: translateY(300px); }
  to {
    opacity: 1;
    transform: translateY(0); } }

@keyframes hide_item {
  0% {
    opacity: 1;
    transform: translateY(0); }
  100% {
    opacity: 0;
    transform: translateY(300px); } }

@keyframes floating-lg {
  0% {
    transform: translateY(0px); }
  50% {
    transform: translateY(15px); }
  100% {
    transform: translateY(0px); } }

@keyframes floating {
  0% {
    transform: translateY(0px); }
  50% {
    transform: translateY(10px); }
  100% {
    transform: translateY(0px); } }

@keyframes floating-sm {
  0% {
    transform: translateY(0px); }
  50% {
    transform: translateY(5px); }
  100% {
    transform: translateY(0px); } }

:root {
  --primary-dark: #0050d8;
  --primary-light: #3f86ff;
  --secondary-dark: #68788f;
  --secondary-light: #a2acbb;
  --success-dark: #3cb690;
  --success-light: #82d6bc;
  --info-dark: #1d9fff;
  --info-light: #83cbff;
  --warning-dark: #ffad0a;
  --warning-light: #ffcf70;
  --danger-dark: #ee283c;
  --danger-light: #f68692;
  --light-dark: #192431;
  --light-light: #3b5675;
  --dark-dark: #141d27;
  --dark-light: #364f6b;
  --neutral-dark: #141b24;
  --neutral-light: #3a4d64;
  --white-dark: #e6e6e6;
  --white-light: white; }

/* Custom file input -- Style 2 */

@keyframes show-dropdown {
  0% {
    opacity: 0;
    transform: translateX(0) translateY(-3px) scale(0.97);
    transition: all .3s ease; }
  100% {
    transform: translateX(0) translateY(-3px) scale(1);
    opacity: 1; } }

@keyframes hide-dropdown {
  from {
    opacity: 1;
    transform: translateX(0) translateY(-3px) scale(1);
    transition: all .3s ease; }
  to {
    opacity: 0;
    transform: translateX(0) translateY(-3px) scale(0.97); } }

@keyframes show-navbar-collapse {
  0% {
    opacity: 0;
    transform: translateX(30px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes show-navbar-collapse {
  0% {
    opacity: 0;
    transform: translateX(30px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes floating-sm {
  0% {
    transform: translateY(0px); }
  50% {
    transform: translateY(5px); }
  100% {
    transform: translateY(0px); } }

/*

Advanced example - Customized layout

*/
@media all and (min-width: 600px) {
  /* Change color for backdrop */
  /* Move caption area to the right side */
  /* Remove gradient from caption*/
  /* Adjust content area position */
  /* Align buttons at the right side  */
  /* Remove background from all buttons */
  /* Navigation arrows */
  /* Reposition right arrow */ }

/*************** SIMPLE INNER SCROLLBAR ***************/

/* update scrollbar offset if both scrolls are visible */

/*************** SIMPLE OUTER SCROLLBAR ***************/

/* scrollbar height/width & offset from container borders */

/* update scrollbar offset if both scrolls are visible */

/*************** SCROLLBAR MAC OS X ***************/

/* scrollbar height/width & offset from container borders */

/* update scrollbar offset if both scrolls are visible */

/*************** SCROLLBAR LIGHT ***************/

/* scrollbar height/width & offset from container borders */

/* update scrollbar offset if both scrolls are visible */

/*************** SCROLLBAR RAIL ***************/

/* scrollbar height/width & offset from container borders */

/* update scrollbar offset if both scrolls are visible */

/*************** SCROLLBAR DYNAMIC ***************/

/* scrollbar height/width & offset from container borders */

/* update scrollbar offset if both scrolls are visible */

/* hover & drag */

/*************** SCROLLBAR GOOGLE CHROME ***************/

/* scrollbar height/width & offset from container borders */

/* update scrollbar offset if both scrolls are visible */

/*# sourceMappingURL=quick-website-dark.css.map */
